.movie-card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgb(50, 50, 50, .45);
    border-radius: 0.2rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;

}

.movie-card:hover {
    background-color:white;
    color: black;
    transition: 0.5s ease; 
    transform: scale(1.1);
}

.movie-card::before {
    content: '';
    position: absolute;
    top: 14rem;
    margin-top: 23.5rem;
    background: transparent;
    height: 4rem; 
    width: 22rem;
    transform: perspective(5rem) rotateX(35deg) scale(1.2,0.35);
    filter: blur(1.2rem);
    transition: 1s ease;
}

.movie-card:hover::before{
    background: rgb(228, 226, 226);
    top: 12rem;
}


.movie-poster-img {
    height: 100%;
    width: 100%;
}