nav {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
}

.nav-selection {
    background: var(--purple);
    box-shadow: 0 0.5rem 3rem var(--light-purple);
    padding: 2rem 0;
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-selection > * {
    margin-right: 4rem;
}

.site-title {
    margin-right: auto;
    margin-left: 3rem;
    font-size: 3rem;
}

.nav-btn {
    cursor: pointer;
    background-color: var(--purple);
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    color: #ffffff;
    border-radius: 0.5rem;
    outline: none;
    transition: all 200ms;
}

.nav-btn:hover {
    transform: scale(.98);
    border-bottom: 0.3rem #ffffff solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    z-index: 1;
}

.dropdown-content > a {
    color: #333;
    font-size: 1.5rem;
    background: #d2d2d2;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
}

.dropdown-content > a:hover {
    border-bottom: 0.2rem solid purple;
    background-color: #f1f1f1
}

.dropdown:hover > .dropdown-content {
    display: block;
}

input[type="text"] {
    color: #333;
    font-size: 2rem;
    background-image: url('https://www.pinclipart.com/picdir/big/15-153148_search-magnifying-glass-icon-black-search-icon-png.png');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: right;
    padding: 0.5rem 1rem;
    border-color: rgb(203, 202, 202);
    width: 35rem;
    height: 3rem;
}