.main-navbar {
    background: #333;
    box-shadow: 0 0.5rem 3rem rgb(66, 66, 66);
    padding: 2rem 0;
    border-radius: 0.2rem;
}



/* .nav-bar-container {
    color: white;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
}

.title-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Apple Chancery;
    font-size: 4rem;
    color: rgb(203, 93, 49);
    text-shadow:rgb(164,185,0)
}

.button-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

input[type="text"] {
    color: gray;
    background-image: url('https://www.pinclipart.com/picdir/big/15-153148_search-magnifying-glass-icon-black-search-icon-png.png');
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 1rem;
    padding-right: 2rem;
    border-color: rgb(203, 202, 202);
}

.home {
    cursor: pointer;
}

.home,
.categories {
    background-color: white;
    color: black;
    padding: 0.8rem;
    font-size: 1.6rem;
    border: none;
}

.home:hover{
    border-bottom: 2px solid pink;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content > a {
    color: black;
    background: #d2d2d2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content > a:hover {
    border-bottom: 2px solid pink;
    background-color: #f1f1f1
}

.dropdown:hover > .dropdown-content {
    display: block;
} */
